@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,600&family=Poppins:wght@200;300&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    line-height: 1.4;
    color: black;
}
img{
    width: 100%;
    display:block;
}
.container{
    max-width: 1320px;
    margin: auto;
    padding: 0 1.2rem;
}
header{
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://w0.peakpx.com/wallpaper/655/329/HD-wallpaper-plank-model-yoga-exercise.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    background: rgba(0,0,0,0.6);
    padding:1rem;
}
.navbar-brand{
    color: rgb(172, 172, 206);
    font-size: 2rem;
    display:block;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: blanchedalmond;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    color: rgb(197, 86, 86);
    
}
.banner{
    flex:1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;

}
.banner-title{
    font-size: 3rem;
    font-family: 'Poppins',sans-serif;
    line-height: 1.4;
}
.banner-title{
    font-family: 'Poppins',sans-serif;
    color: rgb(5, 5, 4);
}
.banner p{
    font-family: 'Poppins',sans-serif;
    padding:1rem 0 2rem 0;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 450;
    word-spacing: 2px;
}
.banner form{
    background: rgb(248, 248, 248);
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: center;
    
}
.search-input{
    border: none;
    width:80%;
    font-family: 'poppins',sans-serif;

}
.search-btn{
    border:transparent;

}
.design{
    padding:10rem;
}
.title{
    text-align: center;
    padding:1rem 0;
}
.title h2{
    font-family: 'Poppins',sans-serif;
    font-size:2.4rem;
}
.title p{
    padding: 0.6rem 0;
}

