*{
    
font-family: 'Roboto', sans-serif;


}
body{
    background-color: rgb(182, 175, 175);
}
.logo{
    font-size: 1.8em;
    color:rgb(29, 6, 59);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(201, 89, 99);
}

a{
text-decoration: none;
letter-spacing: 2px;
}
button{
    background-color: rgb(24, 57, 119);
    color: whitesmoke;
    border-radius: 8px;
    height: 30px;
    border: none;
}
table{
    background-color: whitesmoke;
}